<h2>New book</h2>
<%= form_with model:book, local:true do |f| %>
<!--url:'/books',-->
      <!--title-->
  <div class="form-title row">
    <%= f.label :Title %>
    <%= f.text_field :title, class: "col-md-12" %>
  </div>
      <!--opinion-->
  <div class="form-body row">
    <%= f.label :Body %>
    <%= f.text_area :body, class: "col-md-12" %>
  </div>
      <!--Create Book  New bookを作成-->
  <div class="actions row">
    <%= f.submit 'Create Book', class: "btn btn-primary col-xs-12" %>
  </div>
<% end %>
