
<div class="container px-5 px-sm-0">
  <div class="row">
    <!--共通テンプレートの呼び出し-->
    <%= render 'users/userinfo', users:@users %>
    <!--%= render 'books/sample', books:@books %>-->
    <%= render 'books/newbook', books:@books %>

    <!--Books （右側）-->
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <!--table thead tr th-->
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>

            <!--ここは丸々いらない可能性あり。-->
            <% @users. each do |user| %>
              <!--プロフィール画像をクリックしたら user_path()-->
              <!--_idはいらない、おそらく。-->
              <%= link_to user_path(user.id) do %>
                <th><%= attachment_image_tag user, :profile_image %></th>
              <% end %>
            <% end %>

            <!--belong_toの関係があるから、book.userでユーザー画像がおそらく紐づくはず。-->
            <% @books. each do |book| %>
              <%= link_to user_path(user.id) do %>
                <th><%= attachment_image_tag book.user, :profile_image %></th>
              <% end %>
              <th><%= link_to book.title, book_path(book.id) %></th>
              <th><%= book.opinion %></th>
            <% end %>
          </tr>
        </tbody>
      </table>
      <!--books一覧 user_image title opinion-->
    </div>
  </div>
</div>
