<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <!--ログイン時、Home.Users.Books.logoutをヘッダーに表示-->
        <li>
          <%= link_to "logout", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <!--ログインしてない場合は、Home,About,sign up loginをヘッダーに表示-->
        <li>
          <%= link_to "sign up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "login", new_user_session_path %>
        </li>
      <% end %>
    </header>
    
    <%= yield %>
    
    <footer>
      <p>CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
